.App {
  text-align: center;
}

button{
  font-size: 2rem;
  background-image: url("https://media.istockphoto.com/id/1248542684/vector/abstract-blurred-colorful-background.jpg?s=612x612&w=0&k=20&c=6aJX8oyUBsSBZFQUCJDP7KZ1y4vrf-wEH_SJsuq7B5I=");
  color: aliceblue;
  margin: 5px;
}
